<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="default.aspx" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".zip" />
            <mimeMap fileExtension=".7z" mimeType="application/7z" />
            <mimeMap fileExtension=".zip" mimeType="application/x-zip-compressed" />
            <mimeMap fileExtension=".iso" mimeType="application/x-iso-compressed" />
        </staticContent>
    </system.webServer>
</configuration>
